<h1>Login</h1>
<form method="POST" action="/login">
    <label for="inputMail">Mail:</label>
    <input type="email" id="inputMail" name="email"><br/>
    <label for="inputPassword">Password:</label>
    <input type="password" id="inputPassword" name="password"><br/>
    <input type="submit" value="submit">
</form>